  <!-- /Option Panel  -->
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <!-- Form content box start -->
          <div class="form-content-box">
              <!-- details -->
              <div class="details">
                  <!-- Logo -->
                  <a [routerLink]="['/Home']">
                      <img src="./assets/img/House-Lannister-Main-Shield.png" class="cm-logo" alt="black-logo">
                  </a>
                  <!-- Name -->
                  <h3>Forgot Password</h3>

                  <!-- Form start -->
                   <form #f="ngForm" (ngSubmit)="sendmail(f.value)">
                    <div class="form-group">
                          <input type="text" name="username" class="input-text" placeholder="Username" minlength="3" maxlength="20" 
                          required pattern="^[a-zA-Z0-9 ]*$" #usernname ngModel>
                          <span class="validate" *ngIf="username?.errors && (username?.touched || username?.dirty)">
                                  <span class="msgs" *ngIf="username?.errors.required && username?.touched">
                                      Field Required</span>
                                   <span class="msgs" *ngIf="username?.errors.pattern && (username?.errors.required || username?.touched)">
                                      Username must only have alphabets and numbers</span>
                               </span>
                          <div [hidden]="!username">
                            <h5>Please enter valid username</h5>
                        </div>
                      </div>  
                    <div class="form-group">
                          <input type="text" name="email" class="input-text" placeholder="Email Address" [value]="email.value.toLowerCase()"
                          required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" #email ngModel>
                          <span class="validate" *ngIf="email?.errors && (email?.touched || email?.dirty)">
                                  <span class="msgs" *ngIf="email?.errors.required && email.touched">
                                      Field Required</span>
                                   <span class="msgs" *ngIf="email?.errors.pattern && (email?.errors.required || email?.touched)">
                                      Email format should be <small><b>xyz@abc.com</b></small></span>
                               </span>

                          <div [hidden]="!email">
                            <h5>Please enter valid email</h5>
                        </div>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="button-md button-theme btn-block" data-toggle="modal" data-target="#myModal">Send Me Email</button>
                      </div>
                  </form> 
                  <!-- Form end -->
               </div>
              <!--  Footer -->
                <div class="footer"> 
                  <span>
                     I want to <a [routerLink] = "['/Login']">return to login</a>
                  </span>
              </div>
          </div>  

</div></div></div>
          <!-- Form content box end -->
           <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">OTP Verification</h4>
                        </div>
                        <div class="modal-body">
                        <input type="text" placeholder="Enter the Otp number" #OTPverify ngModel>
                        <button type="button" (click)="Otpverify(OTPverify.value)" data-toggle="modal" data-target="#password" minlength="4" maxlength="4" class="btn btn-default mobileNo" data-dismiss="modal">Send OTP</button>
                        <div [hidden]="!otpmsg">
                            <h5>Please enter valid OTP</h5>
                        </div>
                        </div>
                    </div>
                </div> 
            </div>

<div *ngIf="password">
    <div class="my-address">
        <div class="modal fade" id="password" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Change Password</h4>
                        </div>
                        <div class="modal-body">
     <form  #f="ngForm">
         <label>New Password (Must have 8 characters,atleast 1 number, 1 uppercase, 1 lowercase and 1 special character):</label>
           <div class="form-group">
                <input type="password" name="np" class="input-text" placeholder="New Password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" #np ngModel>
                
                <span class="validate" *ngIf="np.errors && (np.touched || np.dirty)">
                        <span class="msgs" *ngIf="np.errors.required && np.touched">
                            Field Required</span>  
                </span> 
                
            </div>

            <label>Confirm New Password (Must have 8 characters,atleast 1 number, 1 uppercase, 1 lowercase and 1 special character):</label>
            <div class="form-group">
                <input type="password" name="cnp" class="input-text"
                placeholder="Confirm Password" required #cnp ngModel>
            </div> 
            <div [hidden]="!a">
                <h5>New Password and Confirm Password should be same</h5>
            </div>

        <button class="btn button-md button-theme" (click)="save(f.value)" data-dismiss="modal" [disabled]="!f.valid">Save Changes</button>
     </form>
</div>
                    </div></div></div></div></div>
