
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <div class="top">
                    <h1>Submit Property</h1>
                </div>
                <ul class="breadcrumbs">
                    <li><a [routerLink]="['/Home']">Home</a></li>
                    <li class="active">Submit Property</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Submit Property start -->
<div class="submit-property">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="submit-address">
                  <form #myform="ngForm" (ngSubmit)="newSub(myform.value)">
                    <h1>Basic Information</h1>
                      <div class="search-contents-sidebar">

                <div class="form-group" >
                   <label>Property Title</label>
                   <input type="text" class="form-control"  placeholder="Property Title" minlength="4" maxlength="20" required name="title"  
                   pattern="[a-zA-Z_ ]*$" #title="ngModel" required ngModel>
                   <span class="validate" *ngIf="title.errors && (title.touched || title.dirty)">
                       <span class="msgs" *ngIf="title.errors.required && title.touched">Field required</span>
                       <span class="msgs" *ngIf="title.errors.pattern && (title.errors.required || title.touched)">
                           Property title must have only alphabets
                       </span>
                   </span> 
                </div>


                <div class="row">
                    <div class="col-md-6">
                       <div class="form-group" >
                         <label>Status</label>
                           <select class="form-control" name="propStatus" required ngModel>
                            <option value="" selected>-- select an option --</option>
                            <option value="SALE">For Sale</option>
                             <option value="RENT">For Rent</option>
                           </select>
                       </div>
                    </div>
                <div class="col-md-6">
                   <div class="form-group">
                        <label>Type</label>
                          <select class="form-control" name="type" required ngModel (change)="checkType($event.target.value)">
                            <option value="" selected>-- select an option --</option> 
                            <option value="Apartment">Apartment</option>
                             <option value="House">House</option>
                             <!-- <option value="Commercial">Commercial</option> -->
                             <option value="Garage">Garage</option>
                             <option value="Agriculture Plot">Agricultural Plot</option>
                             <option value="Commercial Plot">Commercial Plot</option>
                           </select>
                   </div>
                 </div>
                </div>
                     <div class="row">
                     <div class="col-md-6">
                           <div class="form-group">
                               <label>Area(in SqFt)</label>
                                  <input type="text" class="form-control mobileNo" placeholder="SqFt" minlength="2" maxlength="5" name="area" pattern="^[0-9]*$" 
                                  #area="ngModel" required ngModel>
                                    <span class="validate" *ngIf="area.errors && (area.touched || area.dirty)">
                       <span class="msgs" *ngIf="area.errors.required && area.touched">Field required</span>
                       <span class="msgs" *ngIf="area.errors.pattern && (area.errors.required || area.touched)">
                            Area must be in digits
                       </span>
                   </span> 
                           </div>
                       </div>
                       <div class="col-md-6">
                        <div class="form-group">
                            <label>Expected Price</label>
                              <input type="text" class="form-control mobileNo" placeholder=" ₹" minlength="4" maxlength="10" name="price" 
                              pattern="^[0-9]*$" #price="ngModel" required ngModel>
                               <span class="validate" *ngIf="price.errors && (price.touched || price.dirty)">
                  <span class="msgs" *ngIf="price.errors.required && price.touched">Field required</span>
                  <span class="msgs" *ngIf="price.errors.pattern && (price.errors.required || price.touched)">
                      Price must have only digits
                  </span>
              </span> 
                        </div>
                      </div>
                    
                                
                            </div>
                        </div>

                        <!-- <h1>Property Gallery</h1>
                        <div id="myDropZone" class="dropzone dropzone-design dz-clickable" name="image"  ngModel>
                            <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                        </div> -->

                        <h1>Location</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control " placeholder="Address" name="address" minlength="4" maxlength="100"  required ngModel>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">

                                    <label>Postal Code</label>
                                    <input type="text" class="form-control mobileNo" placeholder="Postal Code" minlength="4" maxlength="8" name="postalcode" 
                                    pattern="^[0-9]*$" required #postalcode="ngModel" ngModel>
                                   <span class="validate" *ngIf="postalcode.errors && (postalcode.touched || postalcode.dirty)">
                              <span class="msgs" *ngIf="postalcode.errors.required && postalcode.touched">
                                  Field Required</span>
                               <span class="msgs" *ngIf="postalcode.errors.pattern && (postalcode.errors.required || postalcode.touched)">
                                   Only numbers</span>
                           </span>
                                </div>
                                </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <select class="form-control" data-live-search="true" data-live-search-placeholder="Search value" name="state" required ngModel>
                                                        <option>Choose State</option>
                                                        <option>Delhi</option>
                                                        <option>NCR</option>
                                                    </select>
                                                </div>
                                            </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control" data-live-search="true" data-live-search-placeholder="Search value" name="city" required ngModel>
                                            <option>Choose City</option>
                                            <option>New Delhi</option>
                                            <option>Gurgaon</option>
                                            <option>Noida</option>
                                            <option>Faridabad</option>
                                            <option>Ghaziabad</option>
                                            <option>South Delhi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" class="form-control alpha_bet" placeholder="Location" name="location" minlength="3" maxlength="20" required #location ngModel>
                                        </div>
                                    </div>

                                    
                                </div>

                            
                
        <h1>Detailed Information</h1>
            <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                        <label>Detailed Information(max. 1000 words)</label>
                         <textarea class="form-control" placeholder="Detailed Information" maxlength="1000" name="info" ngModel></textarea>
                    </div>
                 </div>
            </div>
<div [hidden]="!display">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Building Age</label>
                        <select class="form-control" name="buildingage" ngModel>
                            <option>0-1 Years</option>
                            <option>2-5 Years</option>
                            <option>6-10 Years</option>
                            <option>11-20 Years</option>
                            <option>21-40 Years</option>
                            <option>40+Years</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                      <label>Floor/Number of Floor</label>
                      <select class="form-control" name="floor" ngModel>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label>Parking </label>
                      <select class="form-control" name="noofparking"  ngModel>
                          <option>Stilt 4-wheeler</option>
                          <option>Stilt 2-wheeler</option>
                          <option>Outside 4-wheeler</option>
                          <option>Outside 2-wheeler</option>
                          <option>Not Available</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Furnished</label>
                      <select class="form-control" name="furnished"  ngModel>
                          <option>Fully Furnished</option>
                          <option>Semi Furnished</option>
                          <option>Not Furnished</option>
                      </select>
                  </div>
              </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Bedrooms</label>
                        <select class="form-control" name="rooms"  ngModel>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Bathroom</label>
                        <select class="form-control" name="bathroom"  ngModel>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>View</label>
                        <select class="form-control"  name="view"  ngModel>
                            <option>None</option>
                            <option>Shermukha</option>
                            <option>Gaumukha</option>
                            
                        </select>
                    </div>
                   
                </div>

            </div>
            
                <h1>Features</h1>
                    <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div class="checkbox checkbox-theme checkbox-circle">
                          <input id="checkbox1" type="checkbox" name="parking" ngModel>
                             <label for="checkbox1">
                                    Free Parking
                             </label>
                       </div>
                    <div class="checkbox checkbox-theme checkbox-circle">
                      <input id="checkbox2" type="checkbox"  name="ac" ngModel>
                       <label for="checkbox2"> Air Condition</label>
                    </div>
                    <div class="checkbox checkbox-theme checkbox-circle">
                      <input id="checkbox3" type="checkbox" name="balcony" ngModel>
                         <label for="checkbox3">Balcony </label>
                    </div>
                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input id="checkbox4" type="checkbox" name="pool"  ngModel>
                                            <label for="checkbox4">
                                                Swimming Pool
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-theme checkbox-circle" >
                                            <input id="checkbox5" type="checkbox" name=laundry  ngModel>
                                            <label for="checkbox5">
                                                Laundry Room
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input id="checkbox6" type="checkbox" name="storage"  ngModel>
                                            <label for="checkbox6">
                                                Storage Room
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input id="checkbox7" type="checkbox" name="gaspipe"  ngModel>
                                            <label for="checkbox7">
                                                Gaspipe Line
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input id="checkbox8" type="checkbox" name="alarm"  ngModel>
                                            <label for="checkbox8">
                                                Alarm
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input id="checkbox9" type="checkbox" name="pooja"  ngModel>
                                            <label for="checkbox9">
                                                Pooja Room
                                            </label>
                                        </div>
                                    </div>

                                </div>
                           
</div>

                        
                        <h1>Contact Details</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                        
                                    <label >Name</label>
                                    <input type="text" class="form-control alpha_bet" placeholder="Name" minlength="3" maxlength="50" name="name" #name="ngModel" 
                                    required pattern="[a-zA-Z_ ]*$" ngModel>
                                      <span class="validate" *ngIf="name.errors && (name.touched || name.dirty)">
                       <span class="msgs" *ngIf="name.errors.required && name.touched">Field required</span>
                       <span class="msgs" *ngIf="name.errors.pattern && (name.errors.required || name.touched)">
                            Invalid Name
                       </span>
                   </span> 
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" name="email" required #email="ngModel"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" ngModel>
                                    <span class="validate" *ngIf="email.errors && (email.touched || email.dirty)">
                                   <span class="msgs" *ngIf="email.errors.required && email.touched">
                                       Field Required</span>
                                    <span class="msgs" *ngIf="email.errors.pattern && (email.errors.required || email.touched)">
                                        Invalid Email</span>
                                </span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control mobileNo"  placeholder="Phone" minlength="10" maxlength="10" name="phone" #phone="ngModel"
                                    required pattern="[0-9]*$" ngModel>
                                       <span class="validate" *ngIf="phone.errors && (phone.touched || phone.dirty)">
                       <span class="msgs" *ngIf="phone.errors.required && phone.touched">Field required</span>
                       <span class="msgs" *ngIf="phone.errors.pattern && (phone.errors.required || phone.touched)">
                            Invalid Phone number
                       </span>
                   </span> 
                                </div>
                            </div>
                        </div>
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitProperty" [disabled]="!myform.valid"> Submit </button> 
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- " 
   
-->
<div *ngIf="popup">
    <div class="modal fade" id="submitProperty" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preview Details</h5>
        </div>
        <div class="modal-body">
                <form #property="ngForm">
                <div class="form-group">
                    <label >Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="title" [(ngModel)]="newProperty.title" disabled>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Status</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="status" [(ngModel)]="newProperty.propStatus">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Property Type</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="type" [(ngModel)]="newProperty.type">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Price</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="price" [(ngModel)]="newProperty.price">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Area</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="area" [(ngModel)]="newProperty.area">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Rooms</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="rooms" [(ngModel)]="newProperty.rooms">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Bathrooms</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="bathroom" [(ngModel)]="newProperty.bathroom">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Free Parking</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.parking">
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Air Condition</label>
                        <div class="col-sm-10">
                        <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.ac">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Balcony</label>
                            <div class="col-sm-10">
                            <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.balcony">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">Swimming Pool</label>
                                <div class="col-sm-10">
                                <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.pool">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Laundry Room</label>
                                    <div class="col-sm-10">
                                    <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.laundry">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label" for="textinput">Storage Room</label>
                                        <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.storage">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Gas Pipe</label>
                                            <div class="col-sm-10">
                                            <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.gaspipe">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">Alarm</label>
                                                <div class="col-sm-10">
                                                <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.alarm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="col-sm-2 control-label" for="textinput">Pooja Room</label>
                                                    <div class="col-sm-10">
                                                    <input type="text" disabled class="form-control" name="parking" [(ngModel)]="newProperty.pooja">
                                                    </div>
                                                </div>

                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Address</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="address" [(ngModel)]="newProperty.address">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Postal Code</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="postalcode1" [(ngModel)]="newProperty.postalcode">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Details</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="info" [(ngModel)]="newProperty.info">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">BuildingAge</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="buildingage" [(ngModel)]="newProperty.buildingage">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Bedrooms</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="bedrooms" [(ngModel)]="newProperty.bedrooms">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Name</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="ownername" [(ngModel)]="newProperty.ownername">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Email</label>
                    <div class="col-sm-10">
                    <input type="text" disabled class="form-control" name="email" [(ngModel)]="newProperty.email">
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Phone</label>
                    <div class="col-sm-10">
                    <input type="text"  disabled class="form-control" name="phone" [(ngModel)]="newProperty.phone">
                    </div>
                </div>
                <br><br>
            </form>
                                
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Edit Details</button>
          <button  type="button" (click)="submitProperty(property.value)" class="btn btn-primary"> <span class="glyphicon glyphicon-check"></span>Submit</button>
         
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Submit Property end 
,status1.value,type1.value,price1.value,area1.value,rooms1.value,bathroom1.value,parking1.value,ac1.value,sit1.value,pool1.value,laundry .value,window1.value,heating1.value,alarm1.value,gym1.value,address1.value,city1.value,postalcode1.value,state1.value,info1.value,buildingage1.value,bedrooms1.value,name1.value,email1.value,phone1.value
-->

<!--
                   
                 -->